@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap%22");

@font-face {
  font-family: 'PFDinDisplayPro-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('src/fontes/PFDinDisplayPro-Regular'), url('src/fontes/PFDinDisplayPro-Regular.woff') format('woff');
}


@font-face {
  font-family: 'PFDinDisplayPro-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('src/fontes/PFDinDisplayPro-Bold'), url('src/fontes/PFDinDisplayPro-Bold.woff') format('woff');
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'PFDinDisplayPro-Regular', sans-serif;
}

#displayHud {
  visibility: hidden;
}

.align {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

small {
  opacity: .5;
  letter-spacing: 1px
}

hudInfo {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  flex-direction: column;
  transition: all .3s;
}

hudInfo .location {
  margin-top: 5px;
}

hudInfo .location {
  margin-top: 5px;
}

hudInfo b {
  opacity: .5;
  font-weight: 100;
}

hudInfo .icon {
  margin-right: 10px;
}

hudInfo .microphone {
  font-size: 10px;
  letter-spacing: 1px
}

hudInfo .radio {
  font-size: 10px;
  letter-spacing: 1px;
  margin-right: 10px;
  margin-top: 2px;
}

hudInfo .radio .text {
  margin-left: 5px;

}

.microphone .bar {
  width: 180px;
  margin-top: 5px;
  margin-right: 10px;
  height: 3px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.824);
}

.microphone span {
  position: relative;
  top: 2px;
}

.microphone .fill {
  height: 100%;
  width: 0%;
  background: #fff;
  border-radius: 30px;
  transition: all 0.9s;
}

hudStatus {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  transition: all .3s;
}

hudStatus .statusBar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.exit-vehicle {
  flex-direction: column !important;
}

.exit-vehicle .statusBar {
  margin-top:8px;
  display: flex !important;
  flex-direction: row-reverse !important;
}

hudStatus .statusBar .bar {
  position: relative;
  width: 4px;
  height: 60px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.824);
}

.exit-vehicle .bar {
  top: 1px;
  height: 4px !important;
  width: 150px !important;
  transform: skewX(-1);
}

hudStatus .statusBar .bar .fill {
  position: absolute;
  bottom: 0;
  border-radius: 30px;
  background-color: #fff;
  transition: all 0.9s;
  animation: none;
}

hudStatus .statusBar img {
  max-width: 12px;
  margin: 2px 5px;
  margin-bottom: 0;
  filter: none;
}

velocimeter {
  position: absolute;
  opacity: 0;
  right: 100px;
  bottom: 10px;
  margin-right: 20px;
}

velocimeter #belt {
  position: absolute;
  top: 10px;
  right: 25px;
  filter: invert(61%) sepia(0%) saturate(1283%) hue-rotate(204deg) brightness(91%) contrast(82%);
  max-width: 12px;
  transition: all 0.9s;
}

velocimeter .ldBar-label {
  display: none;
}

velocimeter .ldBar {
  position: relative;
  transform: scale(1.5);
} 

velocimeter span {
  position: absolute;
  top: 15px;
  left: 30px;
  color: #fff;
  display: flex;
  font-size: 20px;
  letter-spacing: 1px;
  align-items: center;
  text-transform: uppercase;
}

velocimeter span small {
  position: relative;
  top: 3px;
  opacity: .6;
  font-size: 8px;
  margin-left: 5px;
  letter-spacing: 2px;
}

velocimeter .fuel {
  position: absolute;
  top:-22px;
  right: 0;
  color: #fff;
  display: flex;
  font-size: 14px;
  align-items: center;
}

velocimeter .fuel .text{
  top: 7px;
  right: 20px;
  color: rgb(255, 255, 255);
}

velocimeter .fuel .icon {
  margin: 10px 5px;
  opacity: .5;
  font-size: 10px;
}

velocimeter .veh-tools {
  position: absolute;
  bottom: 0px;
  right: -50px;
  color: #fff;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

velocimeter .veh-tools img {
  opacity: .6;
  max-width: 20px;
  margin-bottom: 5px;
}

velocimeter .veh-tools img {
  max-width: 14px;
}

velocimeter .icon-status {
  position: absolute;
  top: -5px;
  left: -30px;
}

bolasStatus svg {
  margin-top: -7px;
  margin-left: -4px;
  position: absolute;
}

bolasStatus {
  position: absolute;
  right: 50px;
  bottom: 135px;
  display: flex;
  column-gap: 5px;
  transition: all .3s;
}

stressBall{ 
  transition: all .3s;
}

.active-Vehicle {
  position: absolute;
  right: 310px;
  bottom: 80px;
  display: flex;
  column-gap: 5px;
  transition: all .3s;
}

.active-Vehicle stressBall{
  position: absolute;
  right: 0px;
  bottom: -25px;
  display: flex;
  column-gap: 5px;
  transition: all .3s;
}

.active-Vehicle oxigenBall{
  position: absolute;
  right: -44px;
  bottom: 21px;
  display: flex;
  column-gap: 5px;
  transition: all .3s;
}

.active-Vehicle progressBall{
  position: absolute;
  right: -15px;
  bottom: 5px;
  display: flex;
  column-gap: 5px;
  transition: all .3s;
}

#progressBackground {
  display: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.2);
}

#progressDisplay {
  stroke: #eee;
  stroke-width: 2px;
  font-size: 10px;
  fill: transparent;
  stroke-dasharray: 100;
  stroke-dashoffset: 50;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.oxigenBackground {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.2);
}

.oxigenDisplay {
  stroke: #eee;
  stroke-width: 2px;
  font-size: 10px;
  fill: transparent;
  stroke-dasharray: 100;
  stroke-dashoffset: 50;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: all 2s;
}

.stressBackground {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.2);
}

.stressDisplay {
  stroke: #eee;
  stroke-width: 2px;
  font-size: 10px;
  fill: transparent;
  stroke-dasharray: 100;
  stroke-dashoffset: 50;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: all 2s;
}


.middleIcon {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #eee;
  width: 25px;
  height: 26px;
  padding: 5px 0 0;
  font-size: 14px;
  position: absolute;
  border-radius: 100%;
  text-align: center;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

watermark {
  position: absolute;
  right: 850px;
  top: 0px;
  color: #fff;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
}

watermark img {
  max-width: 190px;
  margin-left: 5px;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 111, 111, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}

@keyframes pulse-blue {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(102, 154, 225, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}

@keyframes pulse-orange {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(252, 145, 58, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}

@keyframes pulse-purple {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(97, 47, 153, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}

#movieTop {
  top: 0;
  left: 0;
  width: 100vw;
  height: 15%;
  display: none;
  background: #000;
  position: absolute !important;
}

#movieBottom {
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 16%;
  display: none;
  background: #000;
  position: absolute !important;
}

#hoodDisplay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background: #000;
  position: absolute !important;
}

#Mumble {
	color: #ccc;
	display: flex;
	padding: 20px 0;
	letter-spacing: 2px;
	justify-content: center;
	text-transform: uppercase;
	background: rgba(15,15,15,.75);
}