@font-face {
  font-family: Forza;
  src: url("Gobold.otf");
}

html {
  font-family: fantasy;
  letter-spacing: 0.08em;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  }

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.menu {
  display: none;
}

.teste {
  position: absolute;
  right: 3vw;
  width: 200px;
  display: flex;
  height: 80px;
  text-align: center;
  align-items: center;
  transform: perspective(350px) rotate3d(0, 1, 0, -20deg) skewY(-6deg);
  top: 10vw;
}


.teste2 {
  position: absolute;
  right: 3vw;
  width: 200px;
  display: flex;
  height: 80px;
  text-align: center;
  align-items: center;
  transform: perspective(350px) rotate3d(0, 1, 0, -20deg) skewY(-1deg);
  top: 15vw;
}

.margem-titulo {
  margin-top: 10px;
}

.total {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.number {
  font-size: 2em;
}

.posicao {
  color: #fff;
  background-color: rgb(0 102 104 / 45%);
  width: 100%;
  height: 100%;
}
